<!DOCTYPE html>
<html>
<head>
    <title>FIAS.webapp</title>
    <link rel="stylesheet" href="/{{style}}">
    <link rel="icon" type="image/x-icon" href="static/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <style>
    body, html {
      height: 100%;
      margin: 0;
    }

    .bg {
  
      background-image: url("/{{bg_index}}");
      height: 100%; 
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    </style>
    
</head>


<body>
<div class="bg">    
       
    <a href="./info" target="_parent"> Info </a>
    <h1 style='color:rgba(255, 102, 37, 0.9); font-family:Segoe UI; text-align:center'> Predict your food <br> image aesthetics score</h1>
    <h2 style='color:rgba(255,102,37,0.9); font-family:Segoe UI; text-align:left'> 1.Upload your photo </h2>

    <form action="/" method=post enctype="multipart/form-data" >
        <label for="myfile" style="font-family: Segoe UI; color: rgba(255,102,37,0.9)">Select a file:</label>
        <input type="file" id="myfile" name="file"><br><br>
        <input type="submit" value="Submit" style="font-family: Segoe UI; color: rgba(255,102,37,0.9)">
    </form>

      
    <h2 style='color:rgba(255,102,37,0.9); font-family:Segoe UI; text-align:left'> 2.Check your image aesthetics score </h2>
    
     {% if predictions %}
     <p style='color:rgba(255,102,37,0.9); font-family:Segoe UI; text-align:left; font-size:large'>{{predictions}}</p>
     {% endif %}
     
     
    


       
    <h2 style='color:rgba(255,102,37,0.9); font-family:Segoe UI; text-align:left'> 3.Send us a feedback </h2>
    
    <form action="{{ url_for('home')}}" method="post">
         
         <label for="name" style="font-family: Segoe UI; color:rgba(255,102,37,0.9)" >Photo name:</label>
         <input type="text" id="name" name="photoname"><br><br>
         <textarea id="feedback" name="fb" rows="4" cols="50" style="font-family:Segoe UI;"> Something wrong? Let me know ... </textarea><br>
         <input type="submit" name="submit" value="Submit" style="font-family: Segoe UI; color:rgba(255,102,37,0.9)" />
      </form>
    
</div>    
           
</body>

