<!DOCTYPE html>
<html>
<head>
    <title>FIAS.webapp.info</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
        body, html {
          height: 100%;
          margin: 0;
        }

        .bg {
      
          background-image: url("/{{bg_info}}");
          height: 100%; 
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        </style>
</head>
<body>
<div class="bg">
    <a href="./index" target="_parent" style="font-size:large; text-align:left"; > Back </a>



        
        <div class="centered" style="color:black; font-family:Sofia, sans-serif; left:325px;">
        
            Hi, I'm Delia Luca, student of UPB.<br>
            This web app is the result of my master thesis work.
            Its goal is to predict a food color image aesthetics.<br>
            So, if you have a nice pic of what you've just cooked and you intend to post it on your blog or social media,
            or fill in for a photography contest, feel free to upload it here and check how beautiful your picture is.<br><br>
            Don't be mad if you don't get a score as high as you expect. Please send a feedback after getting the score and tell us what went wrong, so we can better adapt the model.<br>
            <br>
          
            <br>
        
            <a href="./index" target="_parent" style="left:450px;"> Click for the fun part </a>
        </div>
   

</div>
</body>
